 <div>
  <sky-rich-text-menubar
    [editorId]="id"
    [editorFocusStream]="editorFocusStream"
    [menubarSections]="menubarSections"
    [mergeFields]="mergeFields"
  >
  </sky-rich-text-menubar>
  <sky-rich-text-toolbar
    [editorId]="id"
    [editorFocusStream]="editorFocusStream"
    [fontSizeList]="fontSizeList"
    [fontList]="fontList"
    [styleState]="styleState"
    [toolbarSections]="toolbarSections"
  >
  </sky-rich-text-toolbar>
  <iframe
    #iframe
    class="editor-wrapper"
    src="about:blank"
    title="Text Editor"
  >
  </iframe>
</div>
