<div
  class="app-screenshot"
>
  <h1>Rich Text Editor</h1>
  <form>
    <sky-rich-text-editor
      name="rich-text-editor"
      [autofocus]="true"
      [mergeFields]="mergeFields"
      [menubarSections]="menubarSections"
      [placeholder]="placeholder"
      [toolbarSections]="toolbarSections"
      [(ngModel)]="value"
    >
    </sky-rich-text-editor>
    <h2>
      Preview html
    </h2>
    <div *ngIf="value"
      class="content-display"
    >
      {{ value }}
    </div>
    <h2>
      Preview render
    </h2>
    <div
      class="content-display"
      [innerHTML]="displayValue"
    >
    </div>
  </form>
</div>
