<sky-modal>
  <sky-modal-header>
    {{ context.header || ('expand_modal_default_header' | skyLibResources) }}
  </sky-modal-header>
  <sky-modal-content
    class="sky-text-expand-modal-content"
  >
    <div>
      <div
        [innerHTML]="context.displayValue"
      >
      </div>
    </div>
  </sky-modal-content>
  <sky-modal-footer>
    <button
      class="sky-btn sky-btn-link"
      (click)="close()"
    >
      {{'shared_close_button_text' | skyLibResources}}
    </button>
  </sky-modal-footer>
</sky-modal>
