<div
  class="sky-text-editor"
>
  <sky-toolbar
    class="sky-text-editor-toolbar"
  >
    <sky-toolbar-section
      aria-hidden="true"
      class="menubar"
      role="menubar"
    >
      <sky-text-editor-menubar
        [editorFocusStream]="editorFocusStream"
        [editorId]="id"
        [menubarActions]="menubarActions"
        [mergeFields]="mergeFields"
      >
      </sky-text-editor-menubar>
    </sky-toolbar-section>
    <sky-toolbar-section
      aria-hidden="true"
      class="toolbar"
    >
      <sky-text-editor-toolbar
        [editorFocusStream]="editorFocusStream"
        [editorId]="id"
        [fontList]="fontList"
        [fontSizeList]="fontSizeList"
        [toolbarActions]="toolbarActions"
        [styleState]="initialStyleState"
      >
      </sky-text-editor-toolbar>
    </sky-toolbar-section>
  </sky-toolbar>
  <iframe
    #iframe
    class="editor-wrapper"
    src="about:blank"
    title="Text Editor"
  >
  </iframe>
</div>
