
  <sky-toolbar-item *ngFor="let menubarSection of menubarSections"
    class="menubar-section"
    [ngClass]="menubarSectionEnum[menubarSection]"
  >
    <ng-container
      [ngSwitch]="menubarSection"
    >
      <ng-container *ngSwitchCase="menubarSectionEnum.Edit">
        <sky-dropdown
          [messageStream]="editDropdownStream"
        >
          <sky-dropdown-button
            role="menuitem"
          >
            Edit
          </sky-dropdown-button>
          <sky-dropdown-menu>
            <sky-dropdown-item *ngFor="let editItem of editItems">
              <button *ngIf="!editItem.isDivider"
                class="menu-dropdown-item"
                type="button"
                (click)="editItem.function()"
              >
                <sky-icon *ngIf="editItem.icon"
                  [icon]="editItem.icon"
                >
                </sky-icon> {{ editItem.label }}
                <div *ngIf="editItem.greyText"
                  class="grey-text"
                >
                  {{ editItem.greyText}}
                </div>
              </button>
              <div *ngIf="editItem.isDivider"
                class="menu-dropdown-item-divider"
                role="divider"
              >
              </div>
            </sky-dropdown-item>
          </sky-dropdown-menu>
        </sky-dropdown>
      </ng-container>
      <ng-container *ngSwitchCase="menubarSectionEnum.Format">
        <sky-dropdown
          [messageStream]="formatDropdownStream"
        >
          <sky-dropdown-button>
            Format
          </sky-dropdown-button>
          <sky-dropdown-menu>
            <sky-dropdown-item *ngFor="let formatItem of formatItems">
              <button *ngIf="!formatItem.isDivider"
                class="menu-dropdown-item"
                type="button"
                (click)="formatItem.function()"
              >
                <sky-icon *ngIf="formatItem.icon"
                  [icon]="formatItem.icon"
                >
                </sky-icon> {{ formatItem.label }}
                <div *ngIf="formatItem.greyText"
                  class="grey-text"
                >
                  {{ formatItem.greyText}}
                </div>
              </button>
              <div *ngIf="formatItem.isDivider"
                class="menu-dropdown-item-divider"
                role="divider"
              >
              </div>
            </sky-dropdown-item>
          </sky-dropdown-menu>
        </sky-dropdown>
      </ng-container>
      <ng-container *ngSwitchCase="menubarSectionEnum.MergeField">
        <sky-dropdown *ngIf="mergeFields && mergeFields.length > 0"
          aria-label="Insert merge field"
          [messageStream]="mergeFieldDropdownStream"
        >
          <sky-dropdown-button>
            Insert merge field
          </sky-dropdown-button>
          <sky-dropdown-menu>
            <sky-dropdown-item *ngFor="let mergeField of mergeFields">
              <button
                type="button"
                (click)="insertMergeField(mergeField)"
              >
                {{ mergeField.name }}
              </button>
            </sky-dropdown-item>
          </sky-dropdown-menu>
        </sky-dropdown>
      </ng-container>
    </ng-container>
  </sky-toolbar-item>
