<div
  aria-hidden="true"
  class="toolbar"
>
  <div *ngFor="let toolbarSection of toolbarSections"
    class="toolbar-section"
    [ngClass]="toolbarSectionEnum[toolbarSection]"
  >
    <ng-container
      [ngSwitch]="toolbarSection"
    >
      <ng-container *ngSwitchCase="toolbarSectionEnum.FontFamily">
        <sky-tooltip
          label="Font family"
        >
          <select
            aria-label="Font family"
            class="select-field font-picker"
            [ngModel]="styleState.font"
            [ngStyle]="{
              'font-family': styleState.font
            }"
            (ngModelChange)="execCommand('fontname', $event)"
          >
            <option *ngFor="let fontModel of fontList"
              [ngStyle]="{
                'font-family': fontModel.value
              }"
              [value]="fontModel.value"
            >
              {{ fontModel.name }}
            </option>
          </select>
        </sky-tooltip>
      </ng-container>
      <ng-container *ngSwitchCase="toolbarSectionEnum.FontSize">
        <sky-tooltip
          label="Font size"
        >
          <select
            aria-label="Font size"
            class="select-field"
            [(ngModel)]="styleState.fontSize"
            (ngModelChange)="changeFontSize()"
          >
            <option *ngFor="let size of fontSizeList"
              [value]="size"
            >
              {{ size + 'px' }}
            </option>
          </select>
        </sky-tooltip>
      </ng-container>
      <ng-container *ngSwitchCase="toolbarSectionEnum.Color">
        <sky-tooltip
          class="colorpicker-tooltip"
          label="Font color"
        >
          <sky-colorpicker
            aria-label="Font color"
            [messageStream]="colorpickerStream"
            [showResetButton]="false"
            (selectedColorChanged)="changeColor($event)"
            #colorPicker
          >
            <input
              class="font-color-picker"
              outputFormat="hex"
              type="text"
              [allowTransparency]="false"
              [ngModel]="styleState.fontColor"
              [skyColorpickerInput]="colorPicker"
            />
          </sky-colorpicker>
        </sky-tooltip>

        <sky-tooltip
          class="colorpicker-tooltip"
          label="Background color"
        >
          <sky-colorpicker
            aria-label="Background color"
            [messageStream]="backColorpickerStream"
            [showResetButton]="false"
            (selectedColorChanged)="changeColor($event, true)"
            #backColorPicker
          >
            <input
              class="background-color-picker"
              outputFormat="rgba"
              type="text"
              [allowTransparency]="true"
              [ngModel]="styleState.backColor"
              [skyColorpickerInput]="backColorPicker"
            />
          </sky-colorpicker>
        </sky-tooltip>
      </ng-container>
      <ng-container *ngSwitchCase="toolbarSectionEnum.List">
        <div
          class="sky-switch-icon-group"
        >
          <sky-icon-button
            icon="list-ul"
            label="Bulleted list"
            (click)="execCommand('insertUnorderedList')"
          >
          </sky-icon-button>
          <sky-icon-button
            icon="list-ol"
            label="Numbered list"
            (click)="execCommand('insertOrderedList')"
          >
          </sky-icon-button>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="toolbarSectionEnum.FontStyle">
        <div
          class="sky-switch-icon-group"
        >
          <sky-tooltip
            label="Bold"
            [attr.id]="editorId + 'bold-checkbox-label'"
          >
            <sky-checkbox
              icon="bold"
              [labelledBy]="editorId + 'bold-checkbox-label'"
              [ngModel]="styleState.boldState"
              (ngModelChange)="toggleFontStyle(styleState.boldState, $event, 'bold')"
            >
            </sky-checkbox>
          </sky-tooltip>
          <sky-tooltip
            label="Italicized"
            [attr.id]="editorId + 'italicized-checkbox-label'"
          >
            <sky-checkbox
              icon="italic"
              [labelledBy]="editorId + 'italicized-checkbox-label'"
              [ngModel]="styleState.italicState"
              (ngModelChange)="toggleFontStyle(styleState.italicState, $event, 'italic')"
            >
            </sky-checkbox>
          </sky-tooltip>
          <sky-tooltip
            label="Underline"
            [attr.id]="editorId + 'underline-checkbox-label'"
          >
            <sky-checkbox
              icon="underline"
              [labelledBy]="editorId + 'underline-checkbox-label'"
              [ngModel]="styleState.underlineState"
              (ngModelChange)="toggleFontStyle(styleState.underlineState, $event, 'underline')"
            >
            </sky-checkbox>
          </sky-tooltip>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="toolbarSectionEnum.Alignment">
        <div
          class="sky-switch-icon-group"
        >
          <sky-icon-button
            icon="align-left"
            label="Align left"
            (click)="execCommand('justifyLeft')"
          >
          </sky-icon-button>
          <sky-icon-button
            icon="align-center"
            label="Align center"
            (click)="execCommand('justifyCenter')"
          >
          </sky-icon-button>
          <sky-icon-button
            icon="align-right"
            label="Align right"
            (click)="execCommand('justifyRight')"
          >
          </sky-icon-button>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="toolbarSectionEnum.Indentation">
        <div
          class="sky-switch-icon-group"
        >
          <sky-icon-button
            icon="outdent"
            label="Outdent"
            (click)="execCommand('outdent')"
          >
          </sky-icon-button>
          <sky-icon-button
            icon="indent"
            label="Indent"
            (click)="execCommand('indent')"
          >
          </sky-icon-button>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="toolbarSectionEnum.UndoRedo">
        <div
          class="sky-switch-icon-group"
        >
          <sky-icon-button
            icon="undo"
            label="Undo"
            (click)="execCommand('undo')"
          >
          </sky-icon-button>
          <sky-icon-button
            icon="repeat"
            label="Redo"
            (click)="execCommand('redo')"
          >
          </sky-icon-button>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="toolbarSectionEnum.Link">
        <div
          class="sky-switch-icon-group"
        >
          <sky-icon-button
            icon="link"
            label="Link"
            [isActive]="styleState.linkState"
            (click)="link()"
          >
          </sky-icon-button>
          <sky-icon-button
            icon="unlink"
            label="Unlink"
            [disabled]="!styleState.linkState"
            (click)="unlink()"
          >
          </sky-icon-button>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>