.toolbar {
    width: auto;
    display: flex;
    border: 1px solid #C0C0C0;
    border-top-width: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    flex-wrap: wrap;

    select {
      border-color: transparent;
      cursor: pointer;

      &:hover {
        color: #212327;
        border-color: inherit;
      }
    }

    .toolbar-section {
      flex: 0 0 auto;
      margin-left: 10px;
      margin-right: 10px;
    }

    .font-picker {
      min-width: 186px;
    }

    .colorpicker-tooltip {
      margin-left: 10px;
      padding-left: 0;
      display: inline-block;

      &:first-of-type {
        margin-left: 0;
      }
    }

    sky-colorpicker ::ng-deep {
      .sky-colorpicker-button {
        z-index: 1;
      }

      .sky-colorpicker-checkered-background {
        z-index: 0;
      }
    }
}


.sky-btn-secondary {
    background-color: white;
}

.toolbar-section {
  position: relative;

  .tooltip:not(.color-tooltip) {
    display: none;
  }

  &:hover .tooltip:not(.color-tooltip) {
    display: block;
  }
}

.tooltip {
  position: absolute;
  max-width: none;
  top: 120%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1;
}

.tooltip-content {
  font-size: 11px;
  background-color: #000;
  color: white;
  padding: 5px 8px 4px 8px;
  text-align: center;
  max-width: none;
  white-space: nowrap;
}

.tooltip-arrow {
  top: -20%;
  left: 50%;
  margin-left: -5px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border-right-style: dashed;
  border-right-width: 5px;
  border-bottom-color: rgb(0, 0, 0);
  border-bottom-width: 5px;
  border-left-style: dashed;
  border-left-width: 5px;
}

.checkered-background {
  position: absolute;
  visibility: visible;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), white;
  background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), white;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), white;
  background-repeat: repeat, repeat;
  background-position: 0px 0, 5px 5px;
  -webkit-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  -webkit-background-origin: padding-box, padding-box;
  background-origin: padding-box, padding-box;
  -webkit-background-clip: border-box, border-box;
  background-clip: border-box, border-box;
  -webkit-background-size: 10px 10px, 10px 10px;
  background-size: 10px 10px, 10px 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: scaleX(1) scaleY(1) scaleZ(1);
  transform: scaleX(1) scaleY(1) scaleZ(1);
}

.sky-switch-icon-group {
	display: flex;

  sky-icon-button ::ng-deep .sky-switch-control-icon,
  sky-tooltip sky-checkbox ::ng-deep .sky-switch-control-icon {
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
  }

  sky-icon-button:first-of-type ::ng-deep .sky-switch-control-icon,
  sky-tooltip:first-of-type sky-checkbox ::ng-deep .sky-switch-control-icon {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  sky-icon-button:last-of-type ::ng-deep .sky-switch-control-icon,
  sky-tooltip:last-of-type sky-checkbox ::ng-deep .sky-switch-control-icon {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
