.sky-switch-control {
  margin: 0 5px auto auto;
  display: inline-flex;
  position: relative;
  border: 1px solid #cdcfd2;
  background-color: #ffffff;
  color: #212327;
  text-align: center;
  line-height: 1;
  align-items: center;
  justify-content: center;

  &:hover {
    border-color: #00b4f1;
    border-width: 2px;
  }
}

.sky-switch-control-icon {
  max-width: none;
  width: 35px;
  height: 35px;
  flex: 1 0 35px;
  font-size: 18px;
}
